<html>
    <body>
        <h1>Project: {{project_title}}</h1>
        <form action="/grade">
            <input type="hidden" name="project_title" value="{{project_title}}">
            <label for="student_github">Enter github id</label>
            <input type="text" name="student_github" />
            <label for="grade">Grade</label>
            <input type="text" name="grade" />
            <input type="submit">
        </form>
        <ul>
        {% for grade in grades %}
            <li><a href ="/student?github={{ grade['student_github'] }}">{{ grade['student_github'] }}</a>: {{ grade['first_name'] }} {{ grade['last_name'] }}: {{ grade['grade'] }}</li>
        {% endfor %}
        </ul>
    </body>
</html>